.navbar{
  width: 100vw;
  height: 60px;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar_heading{
  margin: 0px 20px;
  font-size: 35px;
  color: white;
  font-weight: 600;
}
.navbar_options{
  margin: 0px 20px;
}
.navbar_options > img {
  width: 40px;
  height: 40px;
  margin-right: 50px;
  border-radius: 50%;
  border: 2px solid white;
}
#simple-popover{
  margin-right: 100px;
}
.thumbnail_options{
  width: 300px;
  height: 126px;
  font-size: 25px;
  border: 1px solid black;
}
.profile {
  display: flex;
  padding: 15px;
  border-bottom: 1px solid #000;
}

.profile img{
  width: 57px;
  border-radius: 50%;
}
.profile p {
  display: inline-block;
  margin : auto;
}
.logout_option {
  display: flex;
  justify-content: center;
}
.home{
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
}
.blogcard{
  width: 300px;
  margin: 20px;
}
.blogimg > img{
  width: 100%;
}